langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
langgraph-cli[inmem]
dotenv
pydantic
langchain_huggingface
sentence-transformers
tiktoken
redis
langgraph-api
sqlalchemy
psycopg2-binary
sqlparse
passlib[bcrypt]==1.7.4
bcrypt==4.3.0
python-multipart
pydantic[email] 
python-jose[cryptography]
requests
IPython
asyncpg
langchain_astradb 
hf_xet
boto3
bedrock_agentcore
resend
python-jose
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
bedrock_agentcore_starter_toolkit
streamlit
langchain_mcp_adapters
matplotlib
pandas
seaborn
numpy
statsmodels
scipy
prophet
psutil
nest_asyncio
deepagents
PyPDF2
docx
fpdf
odfpy
bs4 
langchain-text-splitters
pymongo
pypdf
langchain_mongodb
langchain
langchain-aws